/* header code */
.navbar {
    background-color: black;
}

#nav-toggle-button {
    background-color: #ffc107;
    margin-right: 10px;
}

#headerlogo {
    width: 4rem;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
}

#headerbrandname {
    color: #ffc107;
    font-family: 'Brush Script MT', cursive;
    font-size: 35px;
}

#headerloginbtn {
    width: 6.5rem;
}

#headeraccountbtn {
    background-color: #000000;
    color: #ffc107;
    border: none;
    margin-left: -3px;
}

#headerloginbtn:hover {
    font-weight: 700;
    background-color: #e5ac00;
}

#headerbtn {
    width: 6rem;
}

#headerbtn:hover {
    font-weight: 700;
    background-color: #e5ac00;
}

#headercartlogo {
    font-size: 30px;
    color: #ffc107;
}

#headercartlogo:hover {
    font-size: 33px;
    color: #e5ac00;
}

.headerpadding {
    padding: 10px;
}

.nav {
    background-color: rgb(249, 248, 248);
    border-bottom: 1px solid black;
}

/* ********************************************************************************************************************************************************** */
/* footer code */
footer {
    background-color: #000000;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-section {
    text-align: center;
}

.footer-section h5 {
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.footer-section p {
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 16px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: 5px;
}

.footer-section a {
    color: #ffffff;
    text-decoration: none;
}

.footer-line {
    height: 2px;
    background-color: #ffffff;
    border: none;
}

/* ********************************************************************************************************************************************************** */
/* home page code */
.homesection1 {
    height: 50rem;
    background-image: url("https://images.unsplash.com/photo-1441986300917-64674bd600d8?ixlib=rb-4.0.3ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

.homediv1 {
    background: rgba(25, 20, 0, 0.6);
    height: 100%;
    width: 100%;
}

.homelogo {
    margin-top: 70px;
    height: 15rem;
}

#homebrandname {
    color: #ffc107;
    font-family: 'Brush Script MT', cursive;
    font-size: 5rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#brandslogan {
    color: #ffc107;
    font-weight: 900;
    font-size: x-large;
    font-style: italic;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.card-wrapper {
    display: inline-flex;
}

.featuredproducts {
    margin: 1.2em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.2);
}

@media screen and (max-width: 765px) {
    .featuredproducts:not(:first-child) {
        display: none;
    }
}

.carousel-control-prev-icon {
    position: absolute;
    left: 15px;
}

.carousel-control-next-icon {
    position: absolute;
    right: 15px;
}

/* ********************************************************************************************************************************************************** */
/* login code */
.logincontent {
    padding-top: 100px;
}

@media (max-width:450px) {
    .logincontent {
        padding-top: 30px;
    }
}

.login-container {
    border: 1px solid #9a9a9a;
    border-radius: 5px;
    padding: 20px;
    background-color: white;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.2);
}

#loginbtn {
    margin-top: 20px;
    width: 100%;
    border: 1px solid black;
    font-weight: 700;
}

#loginbtn:hover {
    margin-top: 20px;
    border: 1px solid black;
    font-weight: 700;
    background-color: #e5ac00;
}

.loginlabel {
    margin-top: 15px;
    font-weight: 700;
}

/* ********************************************************************************************************************************************************** */
/* all products code */
.productimage {
    height: 20rem;
    width: 100%;
}

.productheading {
    background-color: #ffc107;
    margin-top: 15px;
    padding: 15px;
    font-weight: bold;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
}

.producttitle {
    color: #ffffff !important;
}

.productcards {
    width: 15rem;
    margin-top: 20px;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.2);
}

.productcardbody {
    background-color: black;
    border-radius: 0px 0px 5px 5px;
}

.productcarticon {
    font-size: 15px;
    color: #000000;
    margin-right: 6px;
}

.productcardbtn:hover {
    font-weight: 700;
}

.sectionpadding {
    padding-bottom: 100px;
}

.sectioncolor {
    background-color: rgba(255, 193, 7, 0.2);
}

/* ********************************************************************************************************************************************************** */
/* cart code */
#cartsection1 {
    margin-top: 70px;
}

#cartimage {
    margin-top: 10px;
}

#cartitemdetail {
    margin-top: 10px;
}

#display-box {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}

#minus-btn {
    height: 3rem;
    width: 3rem;
    margin-right: 7px;
    margin-top: 10px;
    border: 1px solid black;
}

#plus-btn {
    height: 3rem;
    width: 3rem;
    margin-left: 7px;
    margin-top: 10px;
    border: 1px solid black;
}

#trashbtn {
    margin-top: 10rem;
    width: 11rem;
    border: 1px solid black;
}

#cartsection2 {
    padding-top: 70px;
}

#cartbtn {
    border: 1px solid;
    margin-top: 3rem;
}

/* ********************************************************************************************************************************************************** */
/* contact code */
.contactcolumn1 {
    text-align: center;
}

#contactcolumn2 {
    padding-left: 10px;
}

#contactlogo {
    height: 20rem;
}

#contactbtn {
    font-weight: 700;
    width: 100%;
    border: 1px solid black;
}

#contactbtn:hover {
    font-weight: 700;
    background-color: #e5ac00;
    border: 1px solid black;
}

.contactlabel {
    font-weight: 700;
}

#contactinput {
    width: 100%;
    border: 1px solid rgb(100, 100, 100);
}

#contactinput2 {
    width: 100%;
    border: 1px solid rgb(100, 100, 100);
}

#contactinput3 {
    width: 100%;
    border: 1px solid rgb(100, 100, 100);
}

#contactbrandname {
    color: #ffc107;
    font-family: 'Brush Script MT', cursive;
    font-size: 5rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.contactsection {
    padding-top: 50px;
    padding-bottom: 90px;
}

/* ********************************************************************************************************************************************************** */

.sidebar {
    height: auto;
    width: 30vw;
    background-color: #000000;
}

.menu-item {
    text-decoration: none;
    color: black;
    font-size: large;
    height: 40px;
    margin: 10px 10px 0px 10px;
    padding-left: 7%;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
}

.menu-item:hover {
    background-color: rgba(255, 238, 139, 0.475);
    border-radius: 25px 25px 25px 25px;
}

@media (max-width: 450px) {
    .sidebar {
        height: auto;
        width: 15vw;
    }

    .menu-item {
        text-decoration: none;
        color: black;
        margin: 10px 10px 0px 10px;
        padding-left: 7%;
        padding-top: 10px;
    }

    .menu-item-label {
        display: none;
    }
}

.order-history {
    margin-top: -15%;
    margin-left: 1%;
}

.addproduct {
    padding-top: 50px;
}

.checkout-container {
    border: 1px solid #9a9a9a;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.2);
    padding: 1%;
}

.rating-container {
    border: 1px solid #9a9a9a;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.2);
    padding: 2%;
    margin: 0% 7% 5% 7%;
}

.checkoutbtn {
    text-decoration: none;
    color: black;
}